{% extends "account/base.html" %}

{% load static i18n widget_tweaks %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="account-parent d-flex justify-content-center">
    <div class="account-responsive-wrapper password login mb-5">
      <h2 class="account-title text-center my-5">Reset Password</h2>
      <div class="account-gray-wrapper px-4 py-4 px-md-0 py-md-5">
        <div class="row account-login p-0 p-md-5 m-0">
          <div class="col col-12">
            {% if user.is_authenticated %}
              {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="account-blurb">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <form id="passwordResetForm" method="POST" action="{% url 'account_reset_password' %}" class="password_reset" autocomplete="off">
              {% csrf_token %}
              {% if form.non_field_errors %}
                <div class="errorlist nonfield">
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-warning mt-2">{{ error }}</div>
                  {% endfor %}
                </div>
              {% endif %}

              {% for field in form.visible_fields %}
                {% if field.label != 'Remember Me'%}
                  <div class="account-input-label">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                  </div>
                  <div class="account-input mb-3">
                    {{ field|attr:"autocomplete:off" }}
                  </div>
                  {% for error in field.errors %}
                    <div class="alert alert-warning mt-2">{{ error }}</div>
                  {% endfor %}
                {% endif %}
              {% endfor %}
              <div class="text-dblue my-5">
                <p class="mb-2 font-weight-bold">Password must:</p>
                <p class="account-input-label mb-1 ml-3">
                  <img src="{% static 'img/favicon.ico' %}" class="gd-logo-tiny mr-1">
                  be at least 8 alphanumeric characters long
                </p>
                <p class="account-input-label mb-1 ml-3">
                  <img src="{% static 'img/favicon.ico' %}" class="gd-logo-tiny mr-1">
                  contain at least one alpha character
                </p>
                <p class="account-input-label mb-1 ml-3">
                  <img src="{% static 'img/favicon.ico' %}" class="gd-logo-tiny mr-1">
                  contain at least one number
                </p>
                <p class="account-input-label mb-1 ml-3">
                  <img src="{% static 'img/favicon.ico' %}" class="gd-logo-tiny mr-1">
                  be sufficiently different from your email
                </p>
              </div>
              <div class="text-center">
                <a href="/" class="btn btn-link btn-clear btn-orange-gd--secondary mr-3">
                  Back
                </a>
                <input class="btn-clear btn-orange-gd--primary ml-3" type="submit" value="{% trans 'Reset' %}" form="passwordResetForm"/>
              </div>
            </form>
            <p class="account-blurb text-center mt-3">{% blocktrans %}Please <a href="mailto:info@geodirectory.ie">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

