{% extends "account/base.html" %}

{% load static i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="account-parent d-flex justify-content-center">
    <div class="account-responsive-wrapper from-key login mb-5">
      <h2 class="account-title text-center my-5">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
      </h2>
      <div class="account-gray-wrapper px-4 py-4 px-md-0 py-md-5">
        <div class="account-login p-0 p-md-5 m-0">
          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
              <p class="account-blurb">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
          {% else %}
            {% if form %}
              <form method="POST" action="{{ action_url }}" class="password_change">
                <div class="account-input-group">
                  {% csrf_token %}
                  {{ form.as_p }}
                </div>
                <div class="text-center">
                  <button class="btn-clear btn-orange-gd--primary" type="submit" name="action">{% trans "Change Password" %}</button>
                </div>
              </form>
            {% else %}
              <p class="account-blurb">{% trans 'Your password is now changed.' %}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
