{% extends "account/base.html" %}

{% load static i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="account-parent d-flex justify-content-center">
    <div class="account-responsive-wrapper password login mb-5">
      <h2 class="account-title text-center my-5">{% trans "Change Password" %}</h2>

      <div class="account-gray-wrapper p-4 px-md-0 py-md-3">
        <div class="account-login p-0 p-md-5 m-0 d-flex flex-column">
          <p class="account-blurb">{% trans 'Your password is now changed.' %}</p>
          <a class="text-center" href="/">
            <button class="btn-clear btn-orange-gd--primary" type="submit">
              {% trans 'Back' %}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
