{% extends "account/base.html" %}

{% load i18n widget_tweaks %}
{% load i18n static compress %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}

<div class="account-parent d-flex justify-content-center">
  <div class="account-responsive-wrapper register mb-5">
    <h2 class="account-title text-center my-5">Register</h2>
    <div class="account-gray-wrapper px-4 py-4 px-md-0 py-md-5">
      <form id="signup_form" method="post" action="{% url 'account_signup' %}" autocomplete="off">
        {% csrf_token %}
        <div class="row account-login p-0 p-md-5 m-0">
          <div class="col col-12">
            <p class="account-blurb mb-5">Registering for an account will give you access to a dashboard where you can see and download the datasets you have created.</p>
          </div>
          <div class="col col-12">
            {% for field in form.visible_fields %}
              <div class="form-group d-flex flex-column">
                <div class="account-form-gp d-flex flex-column">
                  <div class="account-input-label hoverme">
                    <span>{{ field.label }}</span>
                    {% if field.label == 'Email address' %}
                      <div class="d-none">
                        <i class="fas fa-info-circle text-orange"></i>
                        <small class="text-orange showme">Email notes placeholder</small>
                      </div>
                    {% endif %}
                  </div>
                  <div class="d-inline-block">
                      <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                      {{ field|add_class:'form-control'|attr:"autocomplete:off" }}
                  </div>
                  {% if field.label == 'Confirm password' %}
                    <div class="text-dblue my-3">
                      <p class="mb-2 font-weight-bold">Password must:</p>
                      <p class="account-input-label mb-1 ml-3">
                        <img src="{% static 'img/favicon.ico' %}" class="gd-logo-tiny mr-1">
                        be at least 8 alphanumeric characters long
                      </p>
                      <p class="account-input-label mb-1 ml-3">
                        <img src="{% static 'img/favicon.ico' %}" class="gd-logo-tiny mr-1">
                        contain at least one alpha character
                      </p>
                      <p class="account-input-label mb-1 ml-3">
                        <img src="{% static 'img/favicon.ico' %}" class="gd-logo-tiny mr-1">
                        contain at least one number
                      </p>
                      <p class="account-input-label mb-1 ml-3">
                        <img src="{% static 'img/favicon.ico' %}" class="gd-logo-tiny mr-1">
                        be sufficiently different from your email
                      </p>
                    </div>
                  {% endif %}
                  {% for error in field.errors %}
                  <div class="alert alert-warning mt-2">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="col col-12">
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          </div>
          <div class="col col-12 text-center mb-3">
            <a class="btn btn-link btn-clear btn-orange-gd--secondary mr-3 w-25"
               href="javascript:history.back()" class="back-a">
              {% trans "Back" %}
            </a>
            <button class="btn-clear btn-orange-gd--primary ml-3 w-25" type="submit">{% trans "Submit" %}</button>
          </div>
          <div class="col col-12 text-center">
            <a class="account-link" href="{{ login_url }}">{% trans "Already registered? Log in now." %}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
